.header{
    .header-hder{
      font-size: 5rem!important;
      font-weight:900;
      line-height: 75px;
    }

   
}

.hder {
    text-align: center;
    background-color: rgba(230, 237, 243, 0.733);
  }
